/* add background picture to page1 */
#page1 {
background: url(Landscape.jpg);
background-position: center center;
background-attachment: fixed;
background-size: 100% 100%;
color: #fff;
text-align: center;
font-family: Arvo, serif;
}

/* Error message */
#error {
    background-color: #d87777;
    width: 50%;
    margin: 20px auto;
    font-size: 20px;
}

/* Read word */
#result {
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5% 0;
}

/* Hide the number input */
.full-width-slider input {
    display: none;
}

.full-width-slider .ui-slider-track {
    margin-left: 15px;
}
